* {
    .box-sizing(border-box);
}
*:before,
*:after {
    .box-sizing(border-box);
}

html {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #555555;
    background-color: #FFFFFF;
}

h1, h2, h3 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500

}

h4 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 28px

}

/*
a {
    color: #00989e;
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:focus {
    color: #00989e;
    text-decoration: underline;
}

a:focus {
    outline: 3px solid #00989e;
    outline-offset: 0;
    background-color: #00989e;
    color: #FFF;
    text-decoration: none;
}

ol {
    padding: 0 0 0 1.5em;
    margin: 1em 0;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 1em;
}

img {
    vertical-align: middle;
}

hr {
    height: 0;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #cccccc;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 1em 0 0.5em;
}

b,
strong {
    font-weight: 500;
}

blockquote {
    border-left: 5px solid #cccccc;
    padding-left: 1em;
    margin: 1em -1em;
    font-style: italic;
    color: #999999;
}

.remark-slide-number {
    display: none;
}

.remark-slide {
    display: table;
}

.remark-slide-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 4em;
    font-size: 24px;
}

.remark-slide-content h1 {
    font-size: 56px;
    color: #9E0067;
}

.remark-slide-content h2 {
    font-size: 48px;
    color: #9E0067;
}

.remark-slide-content h3 {
    font-size: 40px;
    color: #9E0067;
}

.remark-slide-content h4 {
    font-size: 36px;
    color: #9E0067;
}

.remark-slide-content h5 {
    font-size: 30px;
    color: #9E0067;
}

.remark-slide-content h6 {
    font-size: 24px;
    color: #9E0067;
}

.remark-slide-content > :first-child {
    margin-top: 0;
}

.remark-slide-content > :last-child {
    margin-bottom: 0;
}

.remark-code-line {
    white-space: normal;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 0 1em;
}
/*